apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  template:
    spec:
      containers:
      - name: backend
        image: 396913715368.dkr.ecr.us-east-1.amazonaws.com/bank-app-eks-backend:latest
