apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  template:
    spec:
      containers:
      - name: frontend
        image: 396913715368.dkr.ecr.us-east-1.amazonaws.com/bank-app-eks-frontend:latest
