patches:
  - path: backend-patch.yaml
    target:
      kind: Deployment
      name: backend

  - path: frontend-patch.yaml
    target:
      kind: Deployment
      name: frontend

  # FIX THIS LINE - Change StatefulSet to Deployment and mongodb to mongo
  - path: database-patch.yaml
    target:
      kind: Deployment  # Changed from StatefulSet
      name: mongo       # Changed from mongodb