apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - path: backend-patch.yaml
    target:
      kind: Deployment
      name: backend

  - path: frontend-patch.yaml
    target:
      kind: Deployment
      name: frontend

  - path: database-patch.yaml
    target:
      kind: StatefulSet
      name: mongodb
