apiVersion: v1
kind: deployment
metadata:
  name: mongo
  namespace: bank-app
spec:
  ports:
  - port: 27017
    targetPort: 27017
  selector:
    app: mongo
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  namespace: bank-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
      - name: mongo
        image: mongo:6.0
        ports:
        - containerPort: 27017
        env:
        - name: MONGO_INITDB_ROOT_USERNAME
          value: "bankuser"
        - name: MONGO_INITDB_ROOT_PASSWORD
          value: "bankpass"
        - name: MONGO_INITDB_DATABASE
          value: "bankdb"
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"