version: "3.8"
services:
  mongo:
    image: mongo:6.0
    container_name: bank-mongo
    volumes:
      - mongo_data:/data/db
      - ./database/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro
    environment:
      MONGO_INITDB_DATABASE: bankdb
    ports:
      - "27017:27017"

  backend:
    build: ./backend
    environment:
      - MONGO_URI=mongodb://bankuser:bankpass@mongo:27017/bankdb?authSource=admin
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    environment:
      - BACKEND_URL=http://backend:5000
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data:
