apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: bank-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
      - name: frontend
        image: milindpatle12/bank-frontend:latest
        env:
        - name: BACKEND_URL
          value: "http://backend-svc:5000"
        ports:
        - containerPort: 80
